<?xml version="1.0"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
			
	<context:property-placeholder location="/WEB-INF/conf/spring/applicationContext.properties"/>
	<!-- <tx:annotation-driven transaction-manager="transactionManager"/>
	
	<bean id="dataSource" class="oracle.jdbc.pool.OracleDataSource" destroy-method="close">
        <property name="URL" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="connectionCachingEnabled" value="true"/>
        <property name="connectionCacheName" value="ATScheduleConnectionPool"/>
        <property name="connectionCacheProperties">
            <props>
                <prop key="MinLimit">2</prop>
                <prop key="MaxLimit">100</prop>
                <prop key="InitialLimit">2</prop>
                <prop key="InactivityTimeout">300</prop>
                <prop key="ConnectionWaitTimeout">120</prop>
                <prop key="ValidateConnection">true</prop>
            </props>
        </property>
    </bean>
	
  	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  		<property name="dataSource" ref="dataSource"/>
  	</bean> -->
  
  	<!-- Master控制程式 -->
  	<bean id="jobDetailForMasterSchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<!-- <bean id="Master_test" class="com.netgents.gutenberg.tar.service.Master_test"> -->
			<!-- <bean id="Master_test" class="BatchTest"> -->
			<bean id="Master_test" class="Control.ETL_C_Master">
				<!-- <property name="connectString" value="123"/>
				<property name="userName" value="345"/>
        		<property name="password" value="567"/> -->
			</bean>
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	 
	<bean id="MasterTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobDetailForMasterSchedule" />
		</property>
		<property name="cronExpression">
			<value>0 * * * * ?</value>
		</property>
	</bean>
  
  	<!-- 控制程式
	<bean id="jobDetailForControlSchedule" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<bean id="Control_test" class="com.netgents.gutenberg.tar.service.Control_test">	
				<property name="connectString" value="123"/>
				<property name="userName" value="345"/>
        		<property name="password" value="567"/>
			</bean>
		</property>
		<property name="targetMethod">
			<value>execute</value>
		</property>
	</bean>
	 
	<bean id="ControlTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="jobDetailForControlSchedule" />
		</property>
		<property name="cronExpression">
			<value>0 * * * * ?</value>
		</property>
	</bean> -->
	
	<!-- 批次作業 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref local="MasterTrigger" />
				<!-- <ref local="ControlTrigger" /> -->
			</list>
		</property>
	</bean>
	<!-- Quartz schedule service End -->
	 
</beans>